<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>New York Cheescake - Odin Recipe</title>
</head>

<body>
    <h1>New York Cheescake</h1>
    <img src="https://www.onceuponachef.com/images/2017/12/cheesecake.jpg" alt="New York Cheescake" width="250px"
        height="250px">
    <h3>Description</h3>
    <p>This cheesecake is New York-style, fool-proof, easy, and super-delicious.</p>
    <h3>Ingredients</h3>
    <ul>
        <li>1&frac12; cups graham cracker crumbs</li>
        <li>&frac14; cup white sugar</li>
        <li>&frac13; cup butter, melted</li>
        <li>3 (8 ounce) packages cream cheese, room temperature</li>
        <li>4 eggs, room temperature</li>
        <li>1 tablespoon vanilla extract</li>
        <li>1 cup white sugar</li>
        <li>1 teaspoon cream of tartar</li>
        <li>1 pint sour cream</li>
        <li>1 teaspoon vanilla extract</li>
        <li>&frac12; cup white sugar</li>
    </ul>
    <h3>Steps</h3>
    <ol>
        <li>Preheat oven to 350 degrees F (175 degrees C).</li>
        <li>Mix together the cracker crumbs, sugar, and butter in a bowl until evenly moistened. Press into the bottom
            and &frac12; inch up the sides of a 9-inch springform pan.</li>
        <li>In a large bowl, mix together the cream cheese and sugar with an electric mixer until smooth. Blend in the
            eggs, 1 tablespoon of vanilla, and cream of tartar. Pour over the pie crust.</li>
        <li>Bake in preheated oven until the center is set, about 50 minutes. Allow to cool on counter for 5 minutes.
        </li>
        <li>Mix together the sour cream, 1 teaspoon vanilla, and &frac12; cup sugar in a bowl until smooth; carefully
            pour over cheesecake starting from the sides of the pan and working your way to the center.</li>
        <li>Return to oven for another 5 minutes. Allow to cool in pan to room temperature. Refrigerate for at least 6
            hours before serving.</li>
    </ol>
</body>

</html>